<%- include('partials/header') -%>
<div class="menu">
    <p class="menu-label">
        Administration
    </p>
    <ul class="menu-list">
        <li>
            <ul>
                <li><a href="/dashboard/users">Manage users</a></li>
            </ul>
        </li>
    </ul>
</div>
<%- include('partials/footer') -%>