<%- include('partials/header') -%>
<div class="flex-container">
    <div class="card text-center">
        <div class="card-header">Sheriff Academy</div>
        <div class="card-body">
            <h5 class="card-title">SA</h5>
            <p class="card-text">Академия департамента шерифа, также известная как учебный центр правоохранительных органов, представляет собой учебный центр для кадетов департамента шерифа, предназначенную для подготовки их к работе в правоохранительных органах, в которые они будут поступать после окончания учебы, или иным образом сертифицирует человека стать сотрудником правоохранительных органов.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header">Patrol Division</div>
        <div class="card-body">
            <p class="card-text">Цели и задачи сотрудников отдела Patrol Division. Профессиональный, законный подход к правоохранительным органам. Тщательное документирование/сообщение о предполагаемой преступной деятельности. Оказание помощи гражданам путем своевременного реагирования на экстренные вызовы или направления в другие соответствующие учреждения.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header">Sheriff's Department Detectives</div>
        <div class="card-body">
            <h5 class="card-title">SDD</h5>
            <p class="card-text">Детективный отдел состоит из группы высококвалифицированных следователей. Основная цель детектива - собрать информацию, которая позволит успешно идентифицировать, задержать и привлечь к ответственности преступника.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header">Special Services Group</div>
        <div class="card-body">
            <h5 class="card-title">SSG</h5>
            <p class="card-text">SSG - является элитным подразделением специального назначения, которое выполняет особые задачи повышенной сложности, на территории Штата. SSG имеет определенный уровень секретность внутри организации во время специальных операций.</p>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>